@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #bf930d;
  font-family: "Unbounded", cursive;
  color: rgb(5, 5, 5);
  text-align: center;
}
.main {
  display: flex;
  padding: 200px;
  gap: 0px;
  margin-top: -10%;
  justify-content: space-evenly;
}
.card__image {
  display: flex;
  padding: 50px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card__image {
  width: 30%;
  height: 30%;
  align-items: center;
}
.card__image img {
  width: 300%;
  height: 100%;
  align-items: center;
  margin-left: 350%;
}
.card__favorite {
  top: 100px;
  left: 10px;
  color: red;
}
.regresar {
  color: rgb(5, 5, 5);
  font-weight: 1000;
  font-size: 95%;
  margin-left: 0%;
  color: #0d19bf;
  font-family: 'Unbounded', cursive;
}